@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12 text-center">
            <img src="logo.png" style="height:200px;" />
        </div>
        <div class="col-sm-12 text-center clearfix">
            <h1>Climb the Ranks</h1>
        </div>        
    </div>    

</div>

<div class="row">
    <div class="col-sm-4">
        <div class="well well-sm text-center">
            <h2>Football</h2>
            <p>
                In this area, instead of the title and this text, there will simply be a football icon.
                In phase 1, once clicked, the football icon will slide up with some swanky easing on the animation and reveal 2 buttons:
                [NFL] & [NCAA].  Once clicked, the application will bring the user to the most recently run PRs for the selection. After we give users
                the ability to make custom lists, we will add a 3rd button, [Custom], which, when clicked, will allow a user to make their own season, insert
                their own teams, insert their own games, and run their own rankings.
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well well-sm text-center">
            <h2>Baseball</h2>
            <p>
                In this area, instead of the title and this text, there will simply be a baseball icon.
                In phase 1, once clicked, the baseball icon will slide up with some swanky easing on the animation and reveal an [MBL] button.
                Once clicked, the application will bring the user to the most recently run PRs for the MLB. After we give users
                the ability to make custom lists, we will add a 2nd button, [Custom], which, when clicked, will allow a user to make their own season, insert
                their own teams, insert their own games, and run their own rankings.
            </p>
        </div>              
    </div>
    <div class="col-sm-4">
        <div class="well well-sm text-center">
            <h2>Soccer</h2>
            <p>
                In this area, instead of the title and this text, there will simply be a soccer ball icon.
                In phase 1, once clicked, the soccer ball icon will slide up with some swanky easing on the animation and reveal an [Insert Scooer League Here] button.
                Once clicked, the application will bring the user to the most recently run PRs for the soccer league in quewstion. After we give users
                the ability to make custom lists, we will add a 2nd button, [Custom], which, when clicked, will allow a user to make their own season, insert
                their own teams, insert their own games, and run their own rankings.
            </p>
        </div>
    </div>
</div>